 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    background: url("https://images.unsplash.com/photo-1738965628987-05c3a690036c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw3fHx8ZW58MHx8fHx8") no-repeat center center/cover;
    font-family: Arial, sans-serif;
}
header{
    position: fixed;
    top: 5%;
    left: 10%;
    width: 80%;
    background-color: transparent;
    padding: 15px 10%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
header ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
header ul li{
    display: inline;
}
header ul li a{
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s;
}
header ul li a:hover{
    background-color: antiquewhite;
}
nav{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}
input{
    width: 250px;
    padding: 8px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
}
input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}